<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RxReader</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script type="module" crossorigin src="/static/assets/index-nKXdV5rs.js"></script>
    <link rel="modulepreload" crossorigin href="/static/assets/motion-BCcaUrQT.js">
    <link rel="modulepreload" crossorigin href="/static/assets/react-C55gJKAB.js">
    <link rel="modulepreload" crossorigin href="/static/assets/three-YTsNs4oB.js">
    <link rel="modulepreload" crossorigin href="/static/assets/map-DCIffZry.js">
    <link rel="stylesheet" crossorigin href="/static/assets/index-Bh-4RpR5.css">
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
